
   <div class="row m-2 bg-light shadow-sm p-3 mb-5 bg-white rounded">
      <div class="comments">
      {{user.username}}
      {{format_date created_at}}
      {{comment_text}}
      </div>
  </div>


