<div class="hero-image rounded shadow-sm p-3 mb-5 bg-white rounded">
  <div class="hero-text">
    <h1>Tech Deck Blog</h1>
    <p>A community for developers!</p>
  </div>
</div>
<div>
  <h4 class="text-center text">Recent Posts</h4>
</div>
<div class="container">
    <div class="row pt-3">
   {{#each posts as |post|}}
    {{> post-info post}}
   {{/each}}
   </div>
</div>
